# Build output
/build/
/dist/
/target/
*.class
*.log
*.war
*.ear

# IDE
/.idea/
/.vscode/
/nbproject/private/
nbproject/genfiles.properties
nbproject/build-impl.xml
nbproject/build-impl.xml~
/out/

# OS-specific
.DS_Store
Thumbs.db
