<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>AutoLoginFilter</filter-name>
        <filter-class>filter.AutoLoginFilter</filter-class>
    </filter>
    <filter>
        <filter-name>GuestOnly</filter-name>
        <filter-class>filter.GuestOnly</filter-class>
    </filter>
    <filter>
        <filter-name>StudentArea</filter-name>
        <filter-class>filter.StudentArea</filter-class>
    </filter>
    <filter>
        <filter-name>ParentArea</filter-name>
        <filter-class>filter.ParentArea</filter-class>
    </filter>
    <filter>
        <filter-name>InstructorArea</filter-name>
        <filter-class>filter.InstructorArea</filter-class>
    </filter>
    <filter>
        <filter-name>ManagerArea</filter-name>
        <filter-class>filter.ManagerArea</filter-class>
    </filter>
    <filter>
        <filter-name>AdminArea</filter-name>
        <filter-class>filter.AdminArea</filter-class>
    </filter>
    
    
    <filter-mapping>
        <filter-name>AutoLoginFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    
    <filter-mapping>
        <filter-name>GuestOnly</filter-name>
        <url-pattern>/forgot-password</url-pattern>
        <url-pattern>/loginGoogle</url-pattern>
        <url-pattern>/loginInternal</url-pattern>
        <url-pattern>/login</url-pattern>
        <url-pattern>/register</url-pattern>
        <url-pattern>/auth/reset-password</url-pattern>
        <url-pattern>/auth/forgot-password.jsp</url-pattern>
        <url-pattern>/auth/login-internal.jsp</url-pattern>
        <url-pattern>/auth/login.jsp</url-pattern>
        <url-pattern>/auth/register.jsp</url-pattern>
        <url-pattern>/auth/reset-password.jsp</url-pattern>
    </filter-mapping>   
    
    <filter-mapping>
        <filter-name>StudentArea</filter-name>
        <url-pattern>/reviewCourse</url-pattern>
        <url-pattern>/reviewAction</url-pattern>
        <url-pattern>/myLearning</url-pattern>
        <url-pattern>/updatePictureProfile</url-pattern>
        <url-pattern>/updateStudentProfile</url-pattern>
        <url-pattern>/createCourseRequest</url-pattern>
        <url-pattern>/courseRequest</url-pattern>
        <url-pattern>/parentLinkRequest</url-pattern>
        <url-pattern>/assignmentDo</url-pattern>
        <url-pattern>/coursePage</url-pattern>
        <url-pattern>/discussionComment</url-pattern>
        <url-pattern>/myResponseDiscussion</url-pattern>
        <url-pattern>/discussionPost</url-pattern>
        <url-pattern>/moduleItemProgress</url-pattern>
        <url-pattern>/checkVideoQuiz</url-pattern>
        <url-pattern>/doQuiz</url-pattern>
        <url-pattern>/startQuiz</url-pattern>
        <url-pattern>/studentVocab</url-pattern>
        <url-pattern>/flashcard</url-pattern>
        <url-pattern>/flashcard-ai</url-pattern>
        <url-pattern>/dashboard</url-pattern>
        <url-pattern>/set</url-pattern>
        <url-pattern>/flashcard-study</url-pattern>

        <url-pattern>/course/course-review.jsp</url-pattern>
        <url-pattern>/course/main-layout.jsp</url-pattern>
        <url-pattern>/course/quiz-grade.jsp</url-pattern>
        <url-pattern>/course/quiz-practice.jsp</url-pattern>
        <url-pattern>/flashcard/createSet.jsp</url-pattern>
        <url-pattern>/flashcard/editSet.jsp</url-pattern>
        <url-pattern>/flashcard/flashcard-ai.jsp</url-pattern>
        <url-pattern>/flashcard/flashcard-study.jsp</url-pattern>
        <url-pattern>/flashcard/viewSet.jsp</url-pattern>
        <url-pattern>/flashcard-dashboard/library.jsp</url-pattern>
        <url-pattern>/flashcard-dashboard/mySets.jsp</url-pattern>
        <url-pattern>/flashcard-dashboard/recents.jsp</url-pattern>
        <url-pattern>/student/course-request.jsp</url-pattern>
        <url-pattern>/student/my-learning.jsp</url-pattern>
        <url-pattern>/student/my-vocabulary.jsp</url-pattern>
        <url-pattern>/student/student-profile.jsp</url-pattern>

    </filter-mapping>
    
    <filter-mapping>
        <filter-name>ParentArea</filter-name>
        <url-pattern>/parent/dashboard</url-pattern>
        <url-pattern>/parent/profile</url-pattern>
        <url-pattern>/parentUpdateProfile</url-pattern>
        <url-pattern>/parentUpdatePicture</url-pattern>
        <url-pattern>/parent/progress_detail</url-pattern>
        <url-pattern>/parent/progress</url-pattern>
        <url-pattern>/parentlinkstudent</url-pattern>
        <url-pattern>/parent/approvals</url-pattern>
        <url-pattern>/parent/orderdetail</url-pattern>
        <url-pattern>/parent/orders</url-pattern>
        <url-pattern>/parent/paymentitems</url-pattern>
        <url-pattern>/parent/vnpay-return</url-pattern>
        <url-pattern>/parent/cancelorder</url-pattern>
        
        <url-pattern>/parent/dashboard.jsp</url-pattern>
        <url-pattern>/parent/profile.jsp</url-pattern>
        <url-pattern>/parent/updateProfile.jsp</url-pattern>
        <url-pattern>/parent/progress_detail.jsp</url-pattern>
        <url-pattern>/parent/progress.jsp</url-pattern>
        <url-pattern>/parent/parent_link_approval.jsp</url-pattern>
        <url-pattern>/parent/approvals.jsp</url-pattern>
        <url-pattern>/parent/order_detail.jsp</url-pattern>
        <url-pattern>/parent/order_list.jsp</url-pattern>
        <url-pattern>/parent/payment_items.jsp</url-pattern>
        <url-pattern>/parent/vnpay_result.jsp</url-pattern>

    </filter-mapping>
    
    <filter-mapping>
        <filter-name>InstructorArea</filter-name>
        <url-pattern>/instructorDashboard</url-pattern>
        <url-pattern>/addCourse</url-pattern>
        <url-pattern>/updateCourse</url-pattern>
        <url-pattern>/deleteCourse</url-pattern>
        <url-pattern>/courseStudents</url-pattern>
        <url-pattern>/getRejectionReason</url-pattern>
        <url-pattern>/submitCourse</url-pattern>
        <url-pattern>/createAssignment</url-pattern>
        <url-pattern>/deleteAssignment</url-pattern>
        <url-pattern>/gradeListServlet</url-pattern>
        <url-pattern>/gradeAssignment</url-pattern>
        <url-pattern>/manageAssignment</url-pattern>
        <url-pattern>/updateAssignment</url-pattern>
        <url-pattern>/createDiscussion</url-pattern>
        <url-pattern>/deleteDiscussion</url-pattern>
        <url-pattern>/manageDiscussion</url-pattern>
        <url-pattern>/updateDiscussion</url-pattern>
        <url-pattern>/createReadingLesson</url-pattern>
        <url-pattern>/createLesson</url-pattern>
        <url-pattern>/deleteLesson</url-pattern>
        <url-pattern>/ManageLessonServlet</url-pattern>
        <url-pattern>/updateLessonReading</url-pattern>
        <url-pattern>/updateLesson</url-pattern>
        <url-pattern>/addModule</url-pattern>
        <url-pattern>/deleteModule</url-pattern>
        <url-pattern>/manageModule</url-pattern>
        <url-pattern>/UpdateModule</url-pattern>
        <url-pattern>/teacher-profile</url-pattern>
        <url-pattern>/updateTeacherPictureProfile</url-pattern>
        <url-pattern>/updateTeacherProfile</url-pattern>
        <url-pattern>/addQuestion</url-pattern>
        <url-pattern>/addQuestionsToModule</url-pattern>
        <url-pattern>/assignTopic</url-pattern>
        <url-pattern>/deleteQuestionFromModule</url-pattern>
        <url-pattern>/deleteQuestion</url-pattern>
        <url-pattern>/generateQuestionAI</url-pattern>
        <url-pattern>/ManageQuestionServlet</url-pattern>
        <url-pattern>/questions</url-pattern>
        <url-pattern>/submitQuestions</url-pattern>
        <url-pattern>/updateQuestion</url-pattern>
        <url-pattern>/createQuiz</url-pattern>
        <url-pattern>/manageQuizServlet</url-pattern>
        <url-pattern>/updateQuiz</url-pattern>
        
        <url-pattern>/teacher/*</url-pattern>
    </filter-mapping>
    
    
    <filter-mapping>
        <filter-name>ManagerArea</filter-name>
        <url-pattern>/cate-topic</url-pattern>
        <url-pattern>/coursedetail</url-pattern>
        <url-pattern>/coursemanager</url-pattern>
        <url-pattern>/coursepublish</url-pattern>
        <url-pattern>/dashboard-manager</url-pattern>
        <url-pattern>/question-manager</url-pattern>
        <url-pattern>/flashcard-detail</url-pattern>
        <url-pattern>/manager-flashcard</url-pattern>
        <url-pattern>/revenue-export</url-pattern>
        <url-pattern>/revenue-report</url-pattern>
        <url-pattern>/changeManagerPassword</url-pattern>
        <url-pattern>/manager-profile</url-pattern>
        <url-pattern>/uploadManagerAvatar</url-pattern>
        
        <url-pattern>/views-manager/*</url-pattern>

    </filter-mapping>
    
    
    <filter-mapping>
        <filter-name>AdminArea</filter-name>
        <url-pattern>/admin/profile</url-pattern>
        <url-pattern>/admin/updateprofile</url-pattern>
        <url-pattern>/admin/avatar</url-pattern>
        <url-pattern>/admin/changePassword</url-pattern>
        <url-pattern>/adminCreateUsers</url-pattern>
        <url-pattern>/admin/report-detail</url-pattern>
        <url-pattern>/admin/report-list</url-pattern>
        <url-pattern>/AdminReportTypeList</url-pattern>
        <url-pattern>/admin/report-update</url-pattern>
        <url-pattern>/AdminUserEdit</url-pattern>
        <url-pattern>/AdminUserList</url-pattern>
        <url-pattern>/AdminUserStatus</url-pattern>
        <url-pattern>/AdminReportTypeEdit</url-pattern>
        <url-pattern>/AdminReportTypeStatus</url-pattern>
        
        <url-pattern>/admin/*</url-pattern>

    </filter-mapping>
    
    
    <servlet>
        <servlet-name>AddCourseServlet</servlet-name>
        <servlet-class>controller.instructor.course.AddCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FlashcardDashboardController</servlet-name>
        <servlet-class>controller.flashcard.crud.FlashcardDashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateLessonServlet</servlet-name>
        <servlet-class>controller.instructor.lesson.CreateVideoLessonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateLessonServlet</servlet-name>
        <servlet-class>controller.instructor.lesson.UpdateLessonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageQuestionServlet</servlet-name>
        <servlet-class>controller.instructor.question.ManageQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionsController</servlet-name>
        <servlet-class>controller.instructor.question.QuestionsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddQuestion</servlet-name>
        <servlet-class>controller.instructor.question.AddQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateDiscussion</servlet-name>
        <servlet-class>controller.instructor.discussion.CreateDiscussion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDiscussion</servlet-name>
        <servlet-class>controller.instructor.discussion.ViewDiscussion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateReadingLesson</servlet-name>
        <servlet-class>controller.instructor.lesson.CreateReadingLesson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteQuestion</servlet-name>
        <servlet-class>controller.instructor.question.DeleteQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateQuestion</servlet-name>
        <servlet-class>controller.instructor.question.UpdateQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteLesson</servlet-name>
        <servlet-class>controller.instructor.lesson.DeleteLesson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageDiscussionServlet</servlet-name>
        <servlet-class>controller.instructor.discussion.ManageDiscussionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDiscussion</servlet-name>
        <servlet-class>controller.instructor.discussion.UpdateDiscussion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDiscussion</servlet-name>
        <servlet-class>controller.instructor.discussion.DeleteDiscussion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateLessonReading</servlet-name>
        <servlet-class>controller.instructor.lesson.UpdateLessonReading</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageQuizServlet</servlet-name>
        <servlet-class>controller.instructor.quiz.ManageQuizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateQuiz</servlet-name>
        <servlet-class>controller.instructor.quiz.CreateQuiz</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateQuiz</servlet-name>
        <servlet-class>controller.instructor.quiz.UpdateQuiz</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageAssignmentServlet</servlet-name>
        <servlet-class>controller.instructor.assignment.ManageAssignmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAssignment</servlet-name>
        <servlet-class>controller.instructor.assignment.CreateAssignment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitCourse</servlet-name>
        <servlet-class>controller.instructor.course.SubmitCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetRejectionReason</servlet-name>
        <servlet-class>controller.instructor.course.GetRejectionReason</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAssignment</servlet-name>
        <servlet-class>controller.instructor.assignment.UpdateAssignment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAssignment</servlet-name>
        <servlet-class>controller.instructor.assignment.DeleteAssignment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignTopicServlet</servlet-name>
        <servlet-class>controller.instructor.question.AssignTopicServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitQuestion</servlet-name>
        <servlet-class>controller.instructor.question.SubmitQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddQuestionsToModule</servlet-name>
        <servlet-class>controller.instructor.question.AddQuestionsToModule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteQuestionFromModule</servlet-name>
        <servlet-class>controller.instructor.question.DeleteQuestionFromModule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GradeListServlet</servlet-name>
        <servlet-class>controller.instructor.assignment.GradeListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GradeAssignment</servlet-name>
        <servlet-class>controller.instructor.assignment.GradeAssignment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherProfileServlet</servlet-name>
        <servlet-class>controller.instructor.profile.TeacherProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTeacherProfileServlet</servlet-name>
        <servlet-class>controller.instructor.profile.UpdateTeacherProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTeacherPictureProfileServlet</servlet-name>
        <servlet-class>controller.instructor.profile.UpdateTeacherPictureProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FlashcardDashboardController</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FlashcardSetController</servlet-name>
        <servlet-class>controller.flashcard.crud.FlashcardSetController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FlashcardSetController</servlet-name>
        <url-pattern>/set</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ParentProfileController</servlet-name>
        <servlet-class>controller.parent.profile.ParentProfileController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ParentProfileController</servlet-name>
        <url-pattern>/parent/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParentProfileController</servlet-name>
        <url-pattern>/parent/settings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParentProfileController</servlet-name>
        <url-pattern>/parent/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateLessonServlet</servlet-name>
        <url-pattern>/createLesson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateLessonServlet</servlet-name>
        <url-pattern>/updateLesson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageQuestionServlet</servlet-name>
        <url-pattern>/ManageQuestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionsController</servlet-name>
        <url-pattern>/questions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddQuestion</servlet-name>
        <url-pattern>/addQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateDiscussion</servlet-name>
        <url-pattern>/createDiscussion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDiscussion</servlet-name>
        <url-pattern>/viewDiscussion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateReadingLesson</servlet-name>
        <url-pattern>/createReadingLesson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteQuestion</servlet-name>
        <url-pattern>/deleteQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateQuestion</servlet-name>
        <url-pattern>/updateQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteLesson</servlet-name>
        <url-pattern>/deleteLesson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageDiscussionServlet</servlet-name>
        <url-pattern>/manageDiscussion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDiscussion</servlet-name>
        <url-pattern>/updateDiscussion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDiscussion</servlet-name>
        <url-pattern>/deleteDiscussion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateLessonReading</servlet-name>
        <url-pattern>/updateLessonReading</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageQuizServlet</servlet-name>
        <url-pattern>/manageQuizServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateQuiz</servlet-name>
        <url-pattern>/createQuiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateQuiz</servlet-name>
        <url-pattern>/updateQuiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageAssignmentServlet</servlet-name>
        <url-pattern>/manageAssignment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAssignment</servlet-name>
        <url-pattern>/createAssignment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitCourse</servlet-name>
        <url-pattern>/submitCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetRejectionReason</servlet-name>
        <url-pattern>/getRejectionReason</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAssignment</servlet-name>
        <url-pattern>/updateAssignment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAssignment</servlet-name>
        <url-pattern>/deleteAssignment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignTopicServlet</servlet-name>
        <url-pattern>/assignTopic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitQuestion</servlet-name>
        <url-pattern>/submitQuestions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddQuestionsToModule</servlet-name>
        <url-pattern>/addQuestionsToModule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteQuestionFromModule</servlet-name>
        <url-pattern>/deleteQuestionFromModule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GradeListServlet</servlet-name>
        <url-pattern>/gradeListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GradeAssignment</servlet-name>
        <url-pattern>/gradeAssignment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherProfileServlet</servlet-name>
        <url-pattern>/teacher-profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTeacherProfileServlet</servlet-name>
        <url-pattern>/updateTeacherProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTeacherPictureProfileServlet</servlet-name>
        <url-pattern>/updateTeacherPictureProfile</url-pattern>
    </servlet-mapping>
</web-app>
