/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Sep 27, 2025, 6:02:03 PM
    Author     : Admin
*/
header {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}
.container {
    max-width: 1400px;
    min-height: 50px;
}
.search-wrapper {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}
.search-bar {
    width: 60%;
    max-width: 700px;
    border-radius: 50px;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #fff;
}
.search-bar .form-control {
    border: none;
    box-shadow: none;
    padding-left: 16px;
}
.search-bar .input-group-text {
    background-color: #fff;
    border: none;
}

.btn-search{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #0d6efd;
  color: #fff;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;        
}

.profile-circle {
    width: 36px;
    height: 36px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.nav-link {
    color: #2d2f31 !important;
    font-weight: 500;
}
.nav-link:hover, a.text-dark:hover {
    color: #000 !important;
}

